@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.section_header {
  width: 100%;
  padding: 50px;
}

.sub_title {
  width: 45%;
  margin: 0 auto;
  font-size: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #000;
}